<div class="row">
          <div class="col-md-4">
              <img src="img/recette1.jpg" class="img-responsive"/>
          </div>
          <div class="col-md-8" id="recette">
              <h3>Carrés Sablés Rhubarbe, Orange &amp; Pistaches <small>- pour 4 personnes</small></h3>
              <div class="content">
                  <h4>Pour la rhubarbe rotie</h4>
                  <dl class="dl-horizontal" id="ingredients">
                      <dt>Rubarbe</dt>
                      <dd>3</dd>
                      <dt>pistaches</dt>
                      <dd>50g</dd>
                </dl>  

                  <button type="button" class="btn btn-primary">Voir la préparation</button>

                  <h4>pour la base sablée aux pistaches</h4>
                  <dl class="dl-horizontal" id="ingredients">
                      <dt>Beurre</dt>
                      <dd>150g</dd>
                      <dt>sucre</dt>
                      <dd>70g</dd>
                </dl> 
                  <button type="button" class="btn btn-primary">Voir la préparation</button>
            </div>
          </div>
        </div>