<div class="row" ng-controller="DetailCtrl">
          <div class="col-md-4">
              <img src="img/{{recipe.image}}" class="img-responsive"/>
          </div>
          <div class="col-md-8" id="recette">
              <h2>{{recipe.label}} <small>- pour {{recipe.personnes}} personnes</small></h2>
              <div class="content">
                  <div ng-repeat="preparation in recipe.steps">
                  <h3>{{preparation.label}}</h3>
                  <dl class="dl-horizontal" id="ingredients">
                      <div ng-repeat="ingredient in preparation.ingredients">
                          <dt>{{ingredient.name}}</dt>
                          <dd>{{ingredient.quantity}}{{ingredient.unity}}</dd>
                      </div>
                   </dl> 
                  
                  <button type="button" class="btn btn-primary">Voir la préparation</button>
                      
                  </div>

            </div>
          </div>
        </div>