<div class="row" id="list" ng-controller="ListCtrl">
    <h2>{{selectedTheme}}</h2>
          <div class="col-sm-2 hidden-xs" ng-repeat="recette in recettes | filter:isActive">
              <a href="#/detail/{{recette._id}}" class="thumbnail">
              <img src="img/{{recette.image}}" class="img-responsive"/>
                  <div class="caption">{{recette.label}}</div>
              </a>
          </div>
    
          <div class="list-group visible-xs-block">
              <a href="#/detail/{{recette._id}}" class="list-group-item" ng-repeat="recette in recettes | filter:isActive">
                <p class="list-group-item-heading">{{recette.label}}</p>
                <p class="list-group-item-text">...</p>
              </a>
           </div>
</div>