<div class="row">
          <div class="col-md-4">
              <a href="#" class="thumbnail">
              <img src="img/entree.jpg" class="img-responsive"/>
                  <div class="caption">Salade avocat, crevettes</div>
              </a>
          </div>
          <div class="col-md-4">
              <a href="#" class="thumbnail">
              <img src="img/plat.jpg" class="img-responsive"/>
                  <div class="caption">Gaspacho tomates et cerises</div>
              </a>
          </div>
          <div class="col-md-4">
              <a href="#" class="thumbnail">
              <img src="img/dessert.jpg" class="img-responsive"/>
                  <div class="caption">Samousa poulet</div>
              </a>
          </div>
        </div>